{% load humanize %}
{% load navbar_tags %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Rex's website</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/">

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    {# Fontawesome CSS #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA==" crossorigin="anonymous" />

    <!-- Custom styles for this template -->
    <link href="album.css" rel="stylesheet">

    <style>



    </style>
  </head>

  <body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="nav-link btn btn-outline-info mr-4" href="{% url 'home' %}">Home</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Questions
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

              {% show_question_dropdown %}

            </div>
          </li><br>

          <li class="nav-item ">
            <a class="nav-link" href="{% url 'create_question' %}">Create Question</a>
          </li>


          {% if user.userattribute %}
            <li class="nav-item"><a class="nav-link" href="{% url 'settings' user.userattribute.pk %}">Settings</a></li>  
          {% endif %}
          

           {% if user.is_authenticated %}
             <li class="nav-item active"><a class="nav-link">Logged in as: {{ user.get_username }}</a></li>
             {# <li class="nav-item active"><a class="nav-link">Color: {{ user.userattribute.get_background_color_display }}</a></li> #}
             <li class="nav-item"><a class="nav-link" href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>   
           {% else %}
             <li class="nav-item"><a class="nav-link" href="{% url 'login'%}?next={{request.path}}">Login</a></li>   
           {% endif %}     

        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a class="nav-link mr-4">It is now: {{local_time}}<a></li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}">
          <input class="form-control mr-sm-2" type="text" id="searchbox" placeholder="Search..." name="searchbox">
          <input class="btn btn-outline-info" type="submit" value="Submit">
        </form>          
      </div>
    </nav>



    {% if messages %}

        {% for message in messages %}

      <div class="alert alert-{{message.tags}}" role="alert">
        {{ message }}
      </div>


        {% endfor %}

    {% endif %}



    {% block content %}

    {% endblock content %}




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>');</script>
    {# <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.0/cjs/popper.min.js" integrity="sha256-OH05DFHUWzr725HmuHo3pnuvUUn+TJuj8/Qz9xytFEw=" crossorigin="anonymous"></script> #}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    {% block extra_js %}

    {% endblock %}
  </body>
</html>
