{% extends 'rex_app/base.html' %}



{% block content %}

<div class="card">
	<div class="card-header text-center">
		<h2 class="text-center">Friends</h2>
	</div>

	<div class="card-body">
		<h2>Current Friends</h2>

		{% for friend in friends%}
			<div class="container ml-1">
				<div class="row justify-content-start no-gutters">
					<div class="col-2">
						<a href="{% url 'profile' friend.user.pk %}">{{friend.user.username}}</a>
					</div>

					<div class="col-1">
						<form method="post" action="{% url 'add_friend' friend.user.pk %}">
							{% csrf_token %}
							<input class="btn btn-outline-success btn-sm" type="submit" name="submit_mode" value="Add">
						</form>		
					</div>
		
					<div class="col-1 ">
						<form method="post" action="{% url 'remove_friend' friend.pk %}">
							{% csrf_token %}
							<input class="btn btn-outline-danger btn-sm" type="submit" name="submit_mode" value="Remove">
						</form>
					</div>
				</div>
			</div>	
		{% endfor %}

	</div>

	
	<div class="card-body">
		<h2>Pending friends_incoming_waiting_approval</h2>
		{% for friend in friends_incoming_waiting_approval%}
			
			<div class="container ml-1">
				<div class="row justify-content-start no-gutters">
					<div class="col-2">
						<a href="{% url 'profile' user.pk %}">{{friend.user.username}}</a>
					</div>

					<div class="col-1">
						<form method="post" action="{% url 'accept_friend' friend.pk %}">
							{% csrf_token %}
							<input class="btn btn-outline-success btn-sm" type="submit" name="submit_mode" value="Accept">
						</form>		
					</div>
		
					<div class="col-1 ">
						<form method="post" action="{% url 'accept_friend' friend.pk %}">
							{% csrf_token %}
							<input class="btn btn-outline-danger btn-sm" type="submit" name="submit_mode" value="Reject">
						</form>
					</div>
				</div>
			</div>		
		{% endfor %}
	</div>
</div>

	
<div class="card-body">
	<h2>Rejected Friends</h2>
	{% for friend in friends_rejected %}
		
		<div class="container ml-1">
			<div class="row justify-content-start no-gutters">
				<div class="col-2">
					<a href="{% url 'profile' user.pk %}">{{friend.user.username}}</a>
				</div>

				<div class="col-1">
					<form method="post" action="{% url 'add_friend' friend.user.pk %}">
						{% csrf_token %}
						<input class="btn btn-outline-success btn-sm" type="submit" name="submit_mode" value="Add">
					</form>		
				</div>
	
				<div class="col-1 ">
					<form method="post" action="{% url 'remove_friend' friend.user.pk %}">
						{% csrf_token %}
						<input class="btn btn-outline-danger btn-sm" type="submit" name="submit_mode" value="Remove">
					</form>
				</div>
			</div>
		</div>		
	{% endfor %}
</div>

	
<div class="card-body">
	<h2>friends_outgoing_waiting_approval</h2>
	{% for friend in friends_outgoing_waiting_approval %}
		
		<div class="container ml-1">
			<div class="row justify-content-start no-gutters">
				<div class="col-2">
					<a href="{% url 'profile' user.pk %}">{{friend.user.username}}</a>
				</div>

				<div class="col-1">
					<form method="post" action="{% url 'add_friend' friend.user.pk %}">
						{% csrf_token %}
						<input class="btn btn-outline-success btn-sm" type="submit" name="submit_mode" value="Add">
					</form>		
				</div>
	
				<div class="col-1 ">
					<form method="post" action="{% url 'remove_friend' friend.user.pk %}">
						{% csrf_token %}
						<input class="btn btn-outline-danger btn-sm" type="submit" name="submit_mode" value="Remove">
					</form>
				</div>
			</div>
		</div>		
	{% endfor %}
</div>

{% endblock content %}
