{% extends 'rex_app/base.html' %}

{% block content %}


{% load static %}


<section>
	<h1>Rex's comfy website</h1>
	<h4>the more we know{{python_tag.question_set.all}}</h4>
	
</section>
<div class="bg"></div>

<style type="text/css">
	*{
		padding:0;
		margin: 0;
	}

	h1, h2, h3, h4, p {
		margin-bottom: 160px;
		color: white;
	}

	body, html {
		height: 100%;
		margin: 0;
	}

	section:nth-of-type(1) {	
		/* The image used */
		background-image: url("{% static "img/bg1.jpg" %}");
		background-position: center;
		background-size: cover;
	}
		
	section{
		padding: 20px;
		display: flex;
		flex-direction: column;
		text-align:center;
		height: 100vh;
		justify-content: center;
		align-items: center;
		position:relative;

	}
	section > *{
		position: relative;
		z-index: 2;
	}

	section:nth-of-type(1):after{
		content:'';
		position:absolute;
		left:0; top:0;
		width:100%; height:100%;
		background: rgba(0,0,0,.6);
		z-index: 1;

	}



</style>


{% load humanize %}
<div class="card text-center bg-light">
	<div class="card-header">
		<h5>Recent Questions</h5>
	</div>	
	<ul class="list-group list-group-flush">
		{% for recent in recents %}
		    <li class="list-group-item"><a class="navbar-brand btn btn-link" href="{% url 'question_detail' recent.pk%}">{{recent}}</a><h5>Asked by: {{recent.asked_by}} {{recent.date|naturaltime}}</h5>
			</li>
		{% endfor %} 

	</ul>		 				  		
</div>


{# <p> #}
{# 	<i class="fas fa-fire"></i> #}
{# </p> #}
{% endblock content %}

