{% extends 'rex_app/base.html' %}



{% block content %}

<div class="card">
	<div class="card-header text-center">
		<h2 class="text-center">Profile</h2>
	</div>

	<div class="card-body">

		<h3>User: {{object.user}}</h3>
		<h3>Birthday: {{object.birthday}}</h3>
		<h3>Avatar: <i class="{{object.get_avatar_display}}"></i></h3>
		<h3>Reputation: {{object.reputation}}</h3>
	</div>
	{% if object.user != request.user %}
		<form method="post" action="{% url 'add_friend' object.user.pk %}">
			{% csrf_token %}
			<input class="btn btn-outline-success btn-sm" type="submit" name="submit_mode" value="Add">
		</form>
	
		<form method="post" action="{% url 'remove_friend' object.user.pk %}">
			{% csrf_token %}
			<input class="btn btn-outline-danger btn-sm" type="submit" name="submit_mode" value="Remove">
		</form>

	{% endif %}

</div>`


{% endblock content %}
