{% extends 'rex_app/base.html' %}

	{% block content %}
	{% load humanize %}

	<div class="card text-center bg-light">
		<h3 class="bg-light">{{question.title}}</h3>
		{% if request.user == question.asked_by %}
			<h4 class="text-right">&nbsp&nbsp&nbsp&nbsp<a href="{% url 'edit_question' question.pk %}" class="btn btn-outline-info btn-sm">Edit question</a></h4>	
		{% endif %}		
		<div class="row justify-content-center ">
			<div class="col-sm-8 text-left">
				<p>{{question.text|linebreaks}}</p>
				<p>Tags: {{question.tag.all|join:','}}</p>
			</div>
		</div>
		
		<p style="text-align:right">Asked by <a href="{% url 'profile' question.asked_by.pk %}">  {{question.asked_by}} </a> <i class="{{question.asked_by.userattribute.get_avatar_display}}"></i> {{question.date|naturaltime}}</p>
	</div>

	<div class="card">
	  	<div class="card-header bg-light">
	    	<h4>Answers&nbsp&nbsp&nbsp&nbsp<a href="{% url 'create_answer' question.pk %}" class="btn btn-outline-info">Make a new answer</a></h4>
	  	</div>
	</div>

	{% for answer in question.answer_set.all %}
		<div class="card mb-3 bg-light">
			<div class="row no-gutters">	
				<div class="col-sm-2 bg-light">
					<div class"card">
						<div class="card-header">
							Upvotes: {{answer.upvotes}}
						</div>

						<div class="card-body">
							<form method="post" action="{% url 'upvote' answer.pk %}">
								{% csrf_token %}
								<input class="btn btn-outline-success btn-sm" type="submit" name="submit_mode" value="Upvote">
							</form>

							<form method="post" action="{% url 'downvote' answer.pk %}">
								{% csrf_token %}
								<input class="btn btn-outline-danger btn-sm" type="submit" name="submit_mode" value="Downvote">
							</form>

							<form method="post" action="{% url 'accept' answer.pk %}">
								{% csrf_token %}
								<input class="btn btn-outline-info btn-sm" type="submit" name="submit_mode" value="Mark Accepted">
							</form>
						</div>
					</div>
				</div>

				<div class="col-sm-8 bg-light">
					<div class="card border-left">


						<div class="card-header tbg-light">
							{% if answer.accepted %}
					  	  		Accepted Answer			
							{% endif %}

                            <h4 class="text-right"> &nbsp&nbsp&nbsp&nbsp<a href="{% url 'edit_answer' answer.pk %}" class="btn btn-outline-info btn-sm">Edit answer</a></h4>				  	  	
					  	</div>




					  	<div class="card-body bg-light">
					    	<h5 class="card-title">{{answer.text}}</h5>
							<p style="text-align:right">Answered by  <a href="{% url 'profile' answer.answered_by.pk %}">  {{answer.answered_by}}</a> <i class="{{answer.answered_by.userattribute.get_avatar_display}}"></i> {{answer.date|naturaltime}}</p>

						    {% for comment in answer.comment_set.all %}
								<p>{{comment}} <a href="{% url 'profile' comment.commented_by.pk %}">--{{comment.commented_by}}</a>  <i class="{{comment.commented_by.userattribute.get_avatar_display}}"></i> {{comment.date|naturaltime}}</p><br>
							{% endfor %}
							<a href="{% url 'create_comment' answer.pk %}" class="btn btn-outline-info">Make a new comment</a>	

					  	</div>

					</div>
				</div>
			</div>
		</div>
	{% endfor %}




{% endblock content %}
