{% extends 'rex_app/base.html' %}

	{% block content %}
	<head>
		<title>Question {{question.pk}}</title>
	</head>


	<div class="text-center">
		<h3>Question</h3>
		{{question}}<br>
	</div>

	<div class="card">
	  	<div class="card-header bg-dark text-white">
	    	<h4>Answers&nbsp&nbsp&nbsp&nbsp<a href="{% url 'create_answer' question.pk %}" class="btn btn-primary">Make a new answer</a></h4>
	  	</div>
	</div>

	{% for answer in question.answer_set.all %}
		<div class="row">	
			<div class="col-sm-2">
				<div class"card">
					<div class="card-header">
						Upvotes: {{answer.upvotes}}
					</div>
				</div>
			</div>

			<div class="col-sm-8">
				<div class="card">

				{% if answer.accepted %}
					<div class="card-header">
				  	  	Accepted Answer!
				  	</div>
				{% endif %}

				  	<div class="card-body">
				    	<h5 class="card-title">{{answer.text}}</h5>

					    {% for comment in answer.comment_set.all %}
							<p>--{{comment}}</p><br>
						{% endfor %}
						<a href="{% url 'create_comment' answer.pk %}" class="btn btn-primary">Make a new comment</a>			    	
				  	</div>

				</div>
			</div>
		</div>
	{% endfor %}




{% endblock content %}
