{% extends 'rex_app/base.html' %}

	{% block content %}
	<head>
		<title>Question {{question.pk}}</title>
	</head>


	<div class="text-center">
		<h3>Question</h3>
		{{question}}<br>
	</div>

	<h4>Answers</h4>

	 <table class="table table-dark table-striped table-bordered">
	 	<thead>
		  <tr>
		    <th>Accepted</th>
		    <th>Upvotes</th>
		    <th>Answer</th>
		    <th class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
				    Click to see comments </th>
		  </tr>
	 	</thead>

	 	<tbody>
		  {% for answer in question.answer_set.all %}
		  <tr>
		  	<td>{{answer.accepted}}</td>
		  	<td>{{answer.upvotes}}</td>
		  	<td>{{answer.text}}</td>
		  	<td>
				<div class="collapse" id="collapseExample">
				  <div class="card card-body bg-dark">
					    {% for comment in answer.comment_set.all %}
							<p>--{{comment}}</p><br>
						{% endfor %}
						<a href="{% url 'create_comment' answer.pk %}">Make a new comment</a>	  		
				  </div>
				</div>
			</td>
		  </tr>
		  {% endfor %}	
		</tbody> 		
	</table> 



	<a href="{% url 'create_answer' question.pk %}">Make a new answer</a>

{% endblock content %}
