{% extends 'rex_app/base.html' %}

{% block content %}


<div class="card">
  <div class="card-header bg-light">
    <h2 class="text-center">Results</h2>
  </div>
  <div class="card-body">
		<p class="card-text text-center">
			{% if not search_results_for_question and not search_results_for_answer and not search_results_for_tag %}
				NO RESULTS
			{% endif %}
		</p>

		<p class="card-text">
			<h4 class="text-center">Search by question:</h4><br>
			{% for question in search_results_for_question %}
				<a href="{% url 'question_detail' question.pk %}">{{question}}</a><br>
			{% endfor %}

		</p>

		<p class="card-text">
			<h4 class="text-center">Search by answer:</h4><br>
			{% for answer in search_results_for_answer %}
				<a href="{% url 'question_detail' answer.question.pk %}">{{answer.text}}</a><br>
			{% endfor %}
		</p>
		<p class="card-text">
			<h4 class="text-center">Search by tags:</h4><br>
			{% for tag in search_results_for_tag %}
				{% for question in tag.question_set.all %}
					<a href="{% url 'question_detail' question.pk %}">{{question}}</a><br>
				{% endfor %}
			{% endfor %}
		</p>
  </div>
</div>





{% endblock content %}